src/NJ.WCF.ConsoleApp/Service References/ServiceReferencePessoaApp/PessoaApp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NJ.WCF.Host.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NJ.WCF.Host.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54471/Services/PessoaApp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPessoa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pessoa" nillable="true" type="tns:Pessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPessoa" nillable="true" type="tns:ArrayOfPessoa" />
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
</xs:schema>